@import "nib"

body
  font-family: 'Lato', sans-serif

.clearfix
  clear both

.home-wrapper
  text-align center
  margin-top 120px

  .kristen-harding
    font-size 60px
    text-transform uppercase
    font-weight 300
    letter-spacing 2px
    position relative

    strong
      font-weight 400

    .writer-director-editor
      position absolute
      letter-spacing 0
      top 5px
      right -75px
      list-style none
      text-align left
      font-size 13px

      li
        margin-top -4px

.home-nav
  text-align center

  .home-nav-item
    display inline-block
    margin 0 20px
    text-align center
    text-transform uppercase
    color #222
    text-decoration none
    font-size 20px
    font-weight 300

    .nav-image-1
      display block
      background: url('/img/sprite.png') no-repeat -555px -278px;
      width: 107px;
      height: 127px;
      margin-bottom 10px

      &:hover
        background: url('/img/sprite.png') no-repeat -555px -136px;

    .nav-image-2
      display block
      background: url('/img/sprite.png') no-repeat -739px -291px;
      width: 83px;
      height: 106px;
      margin-top -8px
      margin-bottom 18px

      &:hover
        background: url('/img/sprite.png') no-repeat -740px -149px;

    .nav-image-3
      display block
      background: url('/img/sprite.png') no-repeat -887px -289px;
      width: 73px;
      height: 105px;
      margin-top -8px
      margin-bottom 18px

      &:hover
        background: url('/img/sprite.png') no-repeat -887px -146px;

    .nav-image-4
      display block
      background: url('/img/sprite.png') no-repeat -1039px -278px;
      width: 107px;
      height: 127px;
      margin-bottom 10px

      &:hover
        background: url('/img/sprite.png') no-repeat -1039px -137px;

.sidebar, .content
  padding-top 10px

.sidebar
  width 300px
  float left
  text-align center
  text-transform uppercase

  .current-page-logo-wrapper
    min-height 130px

  .current-page-logo
    display block
    margin 0 auto

    &.current-page-about
      background: url('/img/sprite.png') no-repeat -555px -136px;
      width: 106px;
      height: 126px;

    &.current-page-contact
      background: url('/img/sprite.png') no-repeat -1039px -137px;
      width: 105px;
      height: 126px;

    &.current-page-work
      background: url('/img/sprite.png') no-repeat -740px -149px;
      width: 81px;
      height: 104px;

    &.current-page-resume
      background: url('/img/sprite.png') no-repeat -887px -146px;
      width: 71px;
      height: 104px;

  .current-page-name
    font-weight 300
    font-size 32px

  .sidebar-logo
    border-style solid
    border-width 2px 0
    border-color #222
    padding 12px 0
    margin 10px 5px 0

    > div
      display block
      margin 0 auto
      background: url('/img/sprite.png') no-repeat -862px -44px;
      width: 207px;
      height: 42px;

  ul.sidebar-nav
    list-style none
    padding 0

    li
      margin 10px 0

      a
        color #222
        text-decoration none
        font-size 20px
        font-weight 300

        &:hover
          color #BF5F61

.content-wrapper
  margin-left 320px
  padding-right 30px

  .kristen-harding
    text-decoration none
    color #222
    font-size 48px
    text-transform uppercase
    font-weight 300
    position relative
    letter-spacing 2px
    margin-left -5px

    strong
      font-weight 400

    .writer-director-editor
      position absolute
      letter-spacing 0
      top 4px
      right -60px
      list-style none
      text-align left
      font-size 11px

      li
        margin-top -4px

.resume
  width 700px
  text-align center
  text-transform uppercase
  font-weight 300
  font-size 24px

  .professional, .creative
    display inline-block
    color #222
    text-decoration none

    span
      display block
      margin-bottom 10px

  .professional
    border-right 3px solid #222
    padding-right 30px

  .creative
    padding-left 30px

  .professional > span
    background: url('/img/sprite.png') no-repeat -256px -18px;
    width: 256px;
    height: 374px;

  .creative > span
    background: url('/img/sprite.png') no-repeat -11px -9px;
    width: 226px;
    height: 371px;


.footer-wrapper
  padding 30px 10px 2px

  .social-footer
    list-style none
    padding 0
    margin 0
    float left

    li
      display inline
      margin 0 10px

      a
        display inline-block
        opacity(0.8)
        transition opacity 0.2s linear

        &:hover
          opacity(1)

    li.vimeo > a
      background: url('/img/sprite.png') no-repeat -600px -42px;
      width: 48px;
      height: 42px;

    li.twitter > a
      background: url('/img/sprite.png') no-repeat -671px -41px;
      width: 52px;
      height: 42px;

    li.linkedin > a
      background: url('/img/sprite.png') no-repeat -742px -40px;
      width: 53px;
      height: 47px;

  .copyright
    font-size 11px
    margin 10px 0 5px 310px

.about-page
  max-width 800px

  img.kristen
    display block
    width 450px
    height 300px

  p
    font-size 16px

.contact-page
  .say-hi
    text-transform uppercase

  img
    width 600px
    height 337px

  ul.contact-methods
    list-style none
    margin 0 0 35px
    padding 0

    li
      a
        color #222
        text-decoration none

        .email
          display inline-block
          margin 13px 10px -13px 0
          background: url('/img/sprite.png') no-repeat -535px -11px;
          width: 52px;
          height: 38px;

        .phone
          display inline-block
          margin 13px 10px -13px 0
          background: url('/img/sprite.png') no-repeat -534px -74px;
          width: 52px;
          height: 44px;

.work-page
  margin-left -15px

  .video
    display inline-block
    width 252px
    vertical-align top
    margin 4px 15px
    text-align center
    color #222
    text-decoration none
    text-transform uppercase
    font-weight 300
    position relative


    > img
      width 252px
      height 171px
      background-color black

    .video-title
      display block

    .hover-title
      position absolute
      top 0
      left 0
      display block
      background-color black
      opacity(0)
      color #fff
      width 252px
      padding-top 80px
      font-size 20px
      height 91px
      transition opacity 0.2s linear

    &:hover
      .hover-title
        opacity(0.5)

.video-page
  .vimeo-embed
    background-color #000
    width 700px
    height 400px

  .title
    font-size 18px
    font-weight 400
    margin-top 5px

  .description
    font-size 16px
    font-weight 300