@import "nib"

body
  font-family: 'Lato', sans-serif
  min-width 1150px

.clearfix
  clear both

.home-wrapper
  text-align center
  margin-top 120px

  .kristen-harding
    font-size 60px
    text-transform uppercase
    font-weight 100
    letter-spacing 2px
    position relative

    strong
      font-weight 400

    .writer-director-editor
      position absolute
      letter-spacing 0
      top 5px
      right -75px
      list-style none
      text-align left
      font-size 13px

      li
        margin-top -4px

.home-nav
  text-align center

  .home-nav-item
    display inline-block
    margin 0 20px
    text-align center
    text-transform uppercase
    color #222
    text-decoration none
    font-size 20px
    font-weight 300

    .nav-image-1
      display block
      background: url('/img/sprite.png') no-repeat -376px -189px;
      width: 74px;
      height: 86px;
      margin-bottom 10px
      margin-left -5px

      &:hover
        background: url('/img/sprite.png') no-repeat -376px -92px;

    .nav-image-2
      display block
      background: url('/img/sprite.png') no-repeat -501px -197px;
      width: 57px;
      height: 73px;
      margin-top -8px
      margin-bottom 18px
      margin-left 5px

      &:hover
        background: url('/img/sprite.png') no-repeat -501px -101px;

    .nav-image-3
      display block
      background: url('/img/sprite.png') no-repeat -602px -196px;
      width: 50px;
      height: 72px;
      margin-top -8px
      margin-bottom 18px
      margin-left 15px

      &:hover
        background: url('/img/sprite.png') no-repeat -601px -98px;

    .nav-image-4
      display block
      background: url('/img/sprite.png') no-repeat -704px -189px;
      width: 74px;
      height: 86px;
      margin-bottom 10px
      margin-left 10px

      &:hover
        background: url('/img/sprite.png') no-repeat -704px -93px;

.sidebar, .content
  padding-top 10px

.sidebar
  height 100%
  width 300px
  float left
  text-align center
  text-transform uppercase

  .current-page-logo-wrapper
    min-height 100px

  .current-page-logo
    display block
    margin 0 auto

    &.current-page-about
      background: url('/img/sprite.png') no-repeat -376px -92px;
      width: 74px;
      height: 86px;

    &.current-page-work
      background: url('/img/sprite.png') no-repeat -501px -101px;
      width: 56px;
      height: 71px;
      margin-top: 10px;
      margin-bottom: -10px;

    &.current-page-resume
      background: url('/img/sprite.png') no-repeat -601px -98px;
      width: 50px;
      height: 72px;
      margin-top: 10px;
      margin-bottom: -10px;

    &.current-page-contact
      background: url('/img/sprite.png') no-repeat -704px -93px;
      width: 72px;
      height: 85px;

  .current-page-name
    font-weight 300
    font-size 28px

  .sidebar-logo
    border-style solid
    border-width 1px 0
    border-color #222
    padding 12px 0
    margin 10px 10px 0

    > div
      display block
      margin 0 auto
      background: url('/img/sprite.png') no-repeat -584px -29px;
      width: 142px;
      height: 30px;


  ul.sidebar-nav
    list-style none
    padding 0

    li
      margin 10px 0

      a
        color #222
        text-decoration none
        font-size 20px
        font-weight 300

        &:hover
          color #BF5F61

  .sidebar-footer-wrapper
    position absolute
    bottom 10px
    left 0
    width 300px

  ul.social-links
    list-style none
    padding 0
    margin 70px 0 0

    li
      display inline
      margin 0 10px

      a
        display inline-block

    li.vimeo > a
      background: url('/img/sprite.png') no-repeat -407px -28px;
      width: 32px;
      height: 29px;

    li.twitter > a
      background: url('/img/sprite.png') no-repeat -456px -28px;
      width: 34px;
      height: 29px;

    li.linkedin > a
      background: url('/img/sprite.png') no-repeat -504px -27px;
      width: 34px;
      height: 32px;

    li.instagram > a
      background: url('/img/instagram.png');
      width: 36px;
      height: 36px;
      margin-bottom: -1px;

  .copyright
    font-size 11px
    text-transform none
    margin-top 10px

.content-wrapper
  margin-left 320px
  padding-right 30px
  padding-top 16px

  .kristen-harding
    text-decoration none
    color #222
    font-size 48px
    text-transform uppercase
    font-weight 100
    position relative
    letter-spacing 2px
    margin-left -5px

    strong
      font-weight 400

    .writer-director-editor
      position absolute
      letter-spacing 0
      top 4px
      right -60px
      list-style none
      text-align left
      font-size 11px

      li
        margin-top -4px

.resume
  width 700px
  text-transform uppercase
  font-weight 300
  font-size 24px
  margin 30px 0 0 30px

  .professional, .creative
    display inline-block
    color #222
    text-decoration none

    span
      display block
      margin-bottom 10px

  .professional
    border-right 1px solid #000
    padding-right 40px

  .creative
    padding-left 45px

  .professional > span
    background: url('/img/resume.png') no-repeat -112px -3px;
    width: 118px;
    height: 173px;
    margin-left: 20px;

  .creative > span
    background: url('/img/resume.png') no-repeat 0 0;
    width: 107px;
    height: 172px;

.about-page
  max-width 800px
  font-weight 300
  margin-top 20px

  img.kristen
    display block
    width 450px
    height 300px

  p
    font-size 16px

.contact-page
  font-weight 300

  .say-hi
    text-transform uppercase
    margin-bottom 0.5em

  img
    width 600px
    height 337px

  ul.contact-methods
    list-style none
    margin 0 0 50px
    padding 0

    li
      margin 5px 0

      a
        color #222
        text-decoration none

        .email
          display inline-block
          margin 7px 10px -7px 0
          background: url('/img/email.png')
          width: 32px;
          height: 28px;

      .phone
        display inline-block
        margin 7px 10px -7px 0
        background: url('/img/phone.png')
        width: 32px;
        height: 30px;

.work-page
  margin-left -15px

  .video
    display inline-block
    width 234px
    vertical-align top
    margin 4px 15px
    text-align center
    color #222
    text-decoration none
    text-transform uppercase
    font-weight 300
    position relative


    > img
      width 234px
      height 163px
      background-color black

    .video-title
      display block

    .hover-title
      position absolute
      top 0
      left 0
      display block
      background-color black
      opacity(0)
      color #fff
      width 234px
      padding-top 70px
      font-size 20px
      height 93px
      transition opacity 0.2s linear

    &:hover
      .hover-title
        opacity(0.5)

.video-page
  .coming-soon
    width 598px
    height 198px
    border 1px solid #ccc
    text-align center
    padding-top 150px
    color #999

  .title
    font-size 18px
    font-weight 400
    margin-top 5px

  .description
    font-size 16px
    font-weight 300