.home-wrapper {
  text-align: center;
  margin-top: 120px;
}
.home-wrapper .kristen-harding {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 200;
  position: relative;
}
.home-wrapper .kristen-harding .writer-director-editor {
  position: absolute;
  top: -5px;
  right: -75px;
  list-style: none;
  text-align: left;
  font-size: 14px;
li
}
.home-nav {
  text-align: center;
}
.home-nav .home-nav-item {
  display: inline-block;
  margin: 0 20px;
  text-align: center;
  text-transform: uppercase;
  color: #222;
  text-decoration: none;
  font-size: 20px;
  font-weight: 200;
}
.home-nav .home-nav-item .nav-image-1 {
  display: block;
  background: url("/img/sprite.png") no-repeat 0 0;
  width: 107px;
  height: 127px;
  margin-bottom: 10px;
}
.home-nav .home-nav-item .nav-image-2 {
  display: block;
  background: url("/img/sprite.png") no-repeat -115px -13px;
  width: 83px;
  height: 106px;
  margin-top: -8px;
  margin-bottom: 18px;
}
.home-nav .home-nav-item .nav-image-3 {
  display: block;
  background: url("/img/sprite.png") no-repeat -201px -13px;
  width: 73px;
  height: 105px;
  margin-top: -8px;
  margin-bottom: 18px;
}
.home-nav .home-nav-item .nav-image-4 {
  display: block;
  background: url("/img/sprite.png") no-repeat -282px -1px;
  width: 107px;
  height: 126px;
  margin-bottom: 10px;
}
