body {
  font-family: 'Lato', sans-serif;
}
.home-wrapper {
  text-align: center;
  margin-top: 120px;
}
.home-wrapper .kristen-harding {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
}
.home-wrapper .kristen-harding .writer-director-editor {
  position: absolute;
  top: -2px;
  right: -75px;
  list-style: none;
  text-align: left;
  font-size: 13px;
}
.home-nav {
  text-align: center;
}
.home-nav .home-nav-item {
  display: inline-block;
  margin: 0 20px;
  text-align: center;
  text-transform: uppercase;
  color: #222;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
}
.home-nav .home-nav-item .nav-image-1 {
  display: block;
  background: url("/img/sprite.png") no-repeat 0 0;
  width: 107px;
  height: 127px;
  margin-bottom: 10px;
}
.home-nav .home-nav-item .nav-image-2 {
  display: block;
  background: url("/img/sprite.png") no-repeat -115px -13px;
  width: 83px;
  height: 106px;
  margin-top: -8px;
  margin-bottom: 18px;
}
.home-nav .home-nav-item .nav-image-3 {
  display: block;
  background: url("/img/sprite.png") no-repeat -201px -13px;
  width: 73px;
  height: 105px;
  margin-top: -8px;
  margin-bottom: 18px;
}
.home-nav .home-nav-item .nav-image-4 {
  display: block;
  background: url("/img/sprite.png") no-repeat -282px -1px;
  width: 107px;
  height: 126px;
  margin-bottom: 10px;
}
.sidebar,
.content {
  padding-top: 20px;
}
.sidebar {
  width: 300px;
  float: left;
  text-align: center;
  text-transform: uppercase;
}
.sidebar .current-page-logo {
  font-size: 48px;
}
.sidebar .current-page-name {
  font-weight: 300;
  font-size: 32px;
}
.sidebar .sidebar-logo {
  font-size: 20px;
  border-style: solid;
  border-width: 3px 0;
  border-color: #222;
  padding: 10px 0;
  margin: 10px 5px 0;
}
.sidebar ul.sidebar-nav {
  list-style: none;
  padding: 0;
}
.sidebar ul.sidebar-nav li {
  margin: 10px 0;
}
.sidebar ul.sidebar-nav li a {
  color: #222;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
}
.content-wrapper {
  margin-left: 320px;
  padding-right: 30px;
}
.content-wrapper .kristen-harding {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
}
.content-wrapper .kristen-harding .writer-director-editor {
  position: absolute;
  top: -2px;
  right: -75px;
  list-style: none;
  text-align: left;
  font-size: 13px;
}
.resume {
  width: 700px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;
}
.resume .professional,
.resume .creative {
  display: inline-block;
  color: #222;
  text-decoration: none;
}
.resume .professional span,
.resume .creative span {
  display: block;
}
.social-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  list-style: none;
}
.social-footer li {
  display: inline;
}
.copyright {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 11px;
}
.about-page img.kristen {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 267px;
}
.about-page p {
  font-size: 18px;
}
