{% include header.ext %}

<div class="home-wrapper">
  <div class="kristen-harding">
    Kristen <strong>Harding</strong>
    <ul class="writer-director-editor">
      <li>Writer</li>
      <li>Director</li>
      <li>Editor</li>
    </ul>
  </div>
  <div class="home-nav">
    <div class="home-nav-item">
      <div><<</div>
      <a href="#">About</a>
    </div>
    <div class="home-nav-item">
      <div>></div>
      <a href="#">Work</a>
    </div>
    <div class="home-nav-item">
      <div>||</div>
      <a href="#">Resume</a>
    </div>
    <div class="home-nav-item">
      <div>>></div>
      <a href="#">Contact</a>
    </div>
  </div>
</div>

{% include footer.ext %}
