{% include header.ext %}

<div class="home-wrapper">
  <span class="kristen-harding">
    Kristen <strong>Harding</strong>
    <ul class="director-wrtier-producer">
      <li>Director</li>
      <li>Writer</li>
      <li>Prodcuer</li>
    </ul>
  </span>
  <div class="home-nav">
    <a href="/about" class="home-nav-item">
      <span class="nav-image-1"></span>
      About
    </a>
    <a href="/work" class="home-nav-item">
      <span class="nav-image-2"></span>
      Work
    </a>
    <a href="/files/Kristen_Harding_Resume_2018.pdf" target="_blank" class="home-nav-item">
      <span class="nav-image-3"></span>
      Resume
    </a>
    <a href="/contact" class="home-nav-item">
      <span class="nav-image-4"></span>
      Contact
    </a>
  </div>
</div>

{% include footer.ext %}
